*{
  margin: 0;
  padding: 0;
}
.navbar-box{
  padding:0rem 0.8rem;
  border-bottom:1px solid #666666;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:75px;
  
}
.brand-name{
  margin-left:1rem;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.nav-links-item{
  text-decoration: none;
  width:fit-content;
  font-size:0.96rem;
  margin:0 5px;
  cursor: pointer;
  color:#666666;
}

.mobile-menu-icon{
  display: none;
}
@media(max-width:1030px){
  .nav-links{
      display: none;
  }
  .nav-links-mobile{
      background-color: blue;
      position:absolute;
      display:block;
      list-style: none;
      left:0;
      top:77px;
      transition:all 0.5s ease-out;
      line-height:2.5rem;
      width:100%;
      height:100vh;
  }
  .nav-links-item{
      text-decoration: none;
      color:white;
      text-align: center;
      width:100%;
      transition:all 0.5s ease;
      font-size:1.5rem;
  }
  .mobile-menu-icon{
      display: block;
      position:absolute;
      font-size: 30px;
      border:none;
      outline:none;
      top:15px;
      right:25px;
      background: none;
      cursor: pointer;
  }
}

@media(max-width:550px){

  .nav-links-item{
    font-size:1.3rem;
  }
}